@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  background-color: black;
}

.landpage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Bungee', cursive;
  font-size: 70px;
  color: greenyellow;
}

h2 {
  font-family: 'Bungee', cursive;
  font-size: 40px;
  color: greenyellow;
}
